<!DOCTYPE html>
<html lang="en" ng-app="todo" ng-controller="control">
<head>
    <meta charset="UTF-8">
    <title>SmartUpCode Todo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js"></script>
    <script>

        var app = angular.module("todo",['ngAnimate']);
        app.controller("control", function ($scope) {
            $scope.buton=true;

            $scope.listeler=[{'gorev':'angular js uygulmasi yap','sonuc':false},
                {'gorev':'angular js uygulmasi yapma','sonuc':true}];
            
            $scope.ekle=function () {
                $scope.listeler.push({'gorev':$scope.todo, 'sonuc':false});
                $scope.todo="";
            }
            $scope.sil=function (a) {
                $scope.listeler.splice(a,1);
            }

        });

    </script>

    <style>
        li{
            font-size: 15px;
        }
        .sonuc{
            text-decoration: line-through;
            color: red;
        }

        .ng-enter{
            transition: all 1s;
            margin-left: 100px;
        }
        .ng-enter-active{
            margin-left: 0px;
        }
        .ng-leave{
            transition: all 1s;
            margin-left: 10px;
        }
        .ng-leave-active{
            margin-left: 100px;
        }

        #container{
            margin: auto;
            height: auto;
            width: 600px;
        }



    </style>

</head>
<body ng-init="$scope.page=1">
<div id="container">

    <div class="bg-primary">
      <h2>  <center>SmartUpCode Todo uygulamasi</center></h2>
    </div>
    <div class="input-group">
        <input type="text" ng-model="todo" class="form-control" placeholder="Eklemek istediginiz gorevi giriniz" ng-keyup="buton=false"> <!-- $event.keyCode==13 ? ekle():null &&-->
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="ekle()" ng-disabled="buton || todo.length==0">Ekle</button>
         </span>
    </div>

    <div class="input-group">
        <input type="text" ng-model="arama" class="form-control" placeholder="Aramak istediginiz gorevi giriniz" ng-keyup="buton=false"> <!-- $event.keyCode==13 ? ekle():null &&-->
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="ara()" ng-disabled="buton || todo.length==0">Ara</button>
    </span>
    </div>
</div>
<div id="container">
    <ul class="nav nav-pills">
        <li role="presentation" ng-click="$scope.page=1"><a href="#">Butun Gorevler</a></li>
        <li role="presentation"  ng-click="$scope.page=2"><a href="#">Bitmis Gorevler</a></li>
        <li role="presentation"  ng-click="$scope.page=3"><a href="#">Bitmemis gorevler</a></li>
    </ul>
</div>

<div ng-show="$scope.page==1" class="jumbotron" id="container">
    <div class="alert alert-info" role="alert">  <center> <h4>Butun gorevler</h4></center></div>


    <ul class="list-group">
        <li class="list-group-item" ng-repeat="liste in listeler  | filter:arama">
            <input type="checkbox" ng-model="liste.sonuc">
            <span ng-class="{'sonuc':liste.sonuc}">{{liste.gorev}}
            <button ng-click="sil($index)">sil</button></li>
    </ul>
</div>

<div ng-show="$scope.page==2" class="jumbotron" id="container">
    <div class="alert alert-success" role="alert"><center><h4>Bitmis gorevler</h4></center></div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="liste in listeler | filter:{sonuc:true}">
            <input type="checkbox" ng-model="liste.sonuc">
            <span ng-class="{'sonuc':liste.sonuc}">{{liste.gorev}}
            <button ng-click="sil($index)">sil</button></li>
    </ul>
</div>

<div ng-show="$scope.page==3" class="jumbotron" id="container">
    <div class="alert alert-danger" role="alert"><center><h4>Bitmemis gorevler</h4></center></div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="liste in listeler  | filter:{sonuc:false}">
            <input type="checkbox" ng-model="liste.sonuc">
            <span ng-class="{'sonuc':liste.sonuc}">{{liste.gorev}}
            <button ng-click="sil($index)">sil</button></li>
    </ul>
</div>

</div>
</body>
</html>